.bg-light {
    margin-top: 4rem;
}

.text-secondary {
    width: 75%;
    font-size: 20px;
}

.detail-width {
    max-width: 3000px;
    margin: auto;
}

@media(max-width:1536px) {
    .detail-width {
        max-width: 1280px;
    }
}

@media(max-width:1280px) {
    .detail-width {
        max-width: 1024px;
    }
}

@media(max-width:1024px) {
    .detail-width {
        max-width: 768px;
    }
}

@media(max-width:768px) {
    .detail-width {
        max-width: 648px;
    }
}

@media(max-width:648px) {
    .detail-width {
        max-width: 475px;
    }
}

@media(max-width:475px) {
    .detail-width {
        width: 100%;
    }
}